$skin-islands-arrow-height ?= 4.2*rem
$skin-islands-arrow-color  ?= #FFDB4C

skin-islands-arrow()
  $height = alike(arguments, $skin-islands-arrow-height)
  $color = alike(arguments, $skin-islands-arrow-color)

  white-space: nowrap

  background: $color

  margin-right: round(($height / 2) * tan(30deg), 3)

  unless _search in arguments
    padding: ($islands_xs + 0.2*rem) ($islands_m - 0.1*rem)
    font-size: 1.8*rem
    line-height: $height - (2*$islands_xs + 0.4*rem)

  unless ie
    stylobate_defaults(arguments,
      -helper '&:before')

  // deprecating things
  if tail in arguments
    error("islands-arrow at `" + selector() + "`: Replace `tail` param with a call of `-helper` element")

  if no-elements in arguments
    error("islands-arrow at `" + selector() + "`: Replace `no-elements` param with empty elements like `(-helper '')`")

skin-islands-arrow_search()
  padding: ($islands_xs - 0.1*rem) ($islands_m - 0.2*rem) ($islands_xs - 0.1*rem) ($islands_xs - 0.1*rem)
  font-size: 1em
  line-height: 1

skin-islands-arrow-helper()
  pseudo-with-content()

  $height = alike(arguments, parent_alike(arguments, $skin-islands-arrow-height))
  $color = alike(arguments, parent_alike(arguments, $skin-islands-arrow-color))

  @extends $skin-islands-arrow-helper

  if ie
    border-color: transparent $color
    border-width: ($height / 2) 0 ($height / 2) (round(($height / 2) * tan(30deg), 3))
  else
    $sqrt2 = 1.414213562
    width: $height * (1/$sqrt2)
    height: $height * (1/$sqrt2)

    background: linear-gradient(45deg, $color 50%,transparent 50%)

    if alpha($color) == 1
      -webkit-transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg) translateZ(0)

$skin-islands-arrow-helper
  position: absolute
  left: 100%

  if ie
    top: 0
    height: 0

    border-style: dashed solid
  else
    top: 50%

    transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg)

