skin-islands-button2-prototype()
  skin-islands-check-font()

  position: relative

  vertical-align: utilus_retrieve(arguments, middle top bottom, baseline)
  user-select: none

  color: #000
  border-radius: 3px

  border: 1px solid

  stylobate_defaults(arguments,
    '_size_m',
    '_hover' '&:hover',
    '_active' '&:active',
    '_focus' '&:focus',
    'focus-helper' '&:before')

// how to express those sizes in vars?
skin-islands-button2-prototype_size_s()
  padding: 0 9px
  line-height: 20px

skin-islands-button2-prototype_size_m()
  padding: 0 12px
  line-height: 26px

skin-islands-button2-prototype_size_l()
  padding: 0 14px
  line-height: 30px


// Common hover state
skin-islands-button2-prototype_hover()
  border-color: rgba(#000, 0.4)

// Common focus state
skin-islands-button2-prototype_focus()
  border-color: rgba(178,142,0,.6);
  outline: none

  {parent_get(arguments, 'focus-helper')}
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    box-shadow: 0 0 10px #FC0;

// Common checked state
$islands-button2-bg_checked = #FFEBA0
skin-islands-button2-prototype_checked()
  border-color: rgba(#997A00, 0.5)
  box-shadow: inset 0 90px $islands-button2-bg_checked


// Default button
stylobate_extends('skin-islands-button2', 'skin-islands-button2-prototype')
$islands-button2-bg = #FFF
$islands-button2-bg_active = #F6F5F3

skin-islands-button2()
  border-color: rgba(#000, 0.2)
  box-shadow: inset 0 90px $islands-button2-bg

skin-islands-button2_active()
  box-shadow: inset 0 90px $islands-button2-bg_active


// Action button
stylobate_extends('skin-islands-action-button2', 'skin-islands-button2-prototype')
$islands-action-button2-bg = #FFDB4D
$islands-action-button2-bg_active = #FC0

skin-islands-action-button2()
  border-color: rgba(#BF9900, 0.8)
  box-shadow: inset 0 90px $islands-action-button2-bg

skin-islands-action-button2_hover()
  border-color: #BF9900

skin-islands-action-button2_active()
  box-shadow: inset 0 90px $islands-action-button2-bg_active


// Pseudo button
stylobate_extends('skin-islands-pseudo-button2', 'skin-islands-button2-prototype')
$islands-pseudo-button2-bg = transparent
$islands-pseudo-button2-bg_active = rgba(#000, 0.05)

skin-islands-pseudo-button2()
  border-color: rgba(#000, 0.2)

skin-islands-pseudo-button2_active()
  box-shadow: inset 0 90px $islands-pseudo-button2-bg_active

